<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Deu's Rango - {% block title %}How to Tango with Django{% endblock title %}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static "rango/css/rango.css" %}">
    </head>
    <body>
        {% if user.is_authenticated %}
            <h1>Welcome {{ user.username }}</h1>
        {% endif %}
        <div>
            {% block content %}
            {% endblock content %} {# endblock의 경우 블럭네임(content)를 안써도 되지만 쓰는 것이 명료함 #}
        </div>

        <hr />
        <div>
            <ul>
                <li><a href = "{% url 'index' %}">Index Page</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href ="{% url 'admin:index' %}">Admin Page</a></li>
            </ul>
        </div>
    </body>
</html>