<!DOCTYPE html>
{% extends "rango/base.html" %}

{% block content %}
    <h1>Rango says.. hello world!</h1>
    <h2>Top Categories</h2>
    <ul>
    {% for category in top_categories %}
        <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
    {% empty %}
        <strong>There are no categories present.</strong>
    {% endfor %}
    </ul>
    <h2>Top Pages</h2>
    <ul>
    {% for page in top_pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% empty %}
        <strong>보여줄 페이지가 없네요.</strong>
    {% endfor %}
    </ul>
    <a href="{% url 'add_category' %}">Add a New Category</a><br />
{% endblock content %}