{% extends "base.html" %}

{% block title %}Add Page{% endblock title %}

{% block body_block %}
    <form role="form" id="page_form" method="POST" action=".">
        <h2 class="form-signin-heading">Add a Page to {{ category.name }}</h2>
        {% csrf_token %}
        <div class="form-group {%if form.title.errors %}has-error{% endif %}">
            <label for="page_title">페이지 이름:</label>
            <input type="text" name="title" class="form-control" id="page_title" placeholder="{{ form.title.help_text }}">
            {% for error in form.title.errors %}
                <p class="help-block">{{ error }}</p>
            {% empty %}
            {% endfor %}
        </div>
        <div class="form-group {%if form.url.errors %}has-error{% endif %}">
            <label for="page_url">페이지 주소:</label>
            <input type="url" name="url" class="form-control" id="page_url" placeholder="{{ form.url.help_text }}">
            {% for error in form.url.errors %}
                <p class="help-block">{{ error }}</p>
            {% empty %}
            {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit" name="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Page</button>
    </form>

{% endblock body_block %}