{% extends "base.html" %}

{% block title %}Add Category{% endblock title %}

{% block body_block %}
    <form role="form" id="category_form" method="POST" action=".">
        <h2 class="form-signin-heading">Add a category</h2>
        {% csrf_token %}
        <div class="form-group {%if form.name.errors %}has-error{% endif %}">
            <label for="category_name">카테고리 이름:</label>
            <input type="text" name="name" class="form-control" id="category_name" placeholder="{{ form.name.help_text }}">
            {% for error in form.name.errors %}
                <p class="help-block">{{ error }}</p>
            {% empty %}
            {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit" name="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Category</button>
    </form>
{% endblock body_block %}